<div class="content" style="padding-left:3%;padding-right:3%;">   
    <div class="card text-center">
        <div class="card-header">      
            <h5> <i class="fa fa-plus-square"></i> New Customer</h5>
        </div>
        <div class="card-body"  style="padding-left:30%;padding-right:30%;">
          <form autocomplete="off">
            <div class="row"> 
                <div class="col-sm-6">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                         </div>
                        <input name="firstname" [(ngModel)]="firstname" required class="form-control" placeholder="First Name" type="email">
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                         </div>
                        <input name="lastname" [(ngModel)]="lastname" required class="form-control" placeholder="Last Name" type="email">
                    </div> 
                </div>
            </div>
           <div class="row">
                <div class="col-sm-12">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user-secret"></i> </span>
                         </div>
                         <select name="customerStage" [(ngModel)]="customerStage" class="form-control">                 
                            <option value="LEAD" selected="selected">LEAD</option>
                            <option value="CONTACT">CONTACT</option>                        
                            <option value="ACCOUNT">ACCOUNT</option>                        
                            <option value="DRAFT">DRAFT</option>                        
                          </select>
                    </div> 
                </div>          
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user-secret"></i> </span>
                         </div>
                         <select name="assignedTo" [(ngModel)]="assignedTo" class="form-control">                 
                            <option value="1001" selected="selected">chanky.mallick@gmail.com</option>
                            <option value="1002">mallick@erwin.com</option>                        
                          </select>
                    </div> 
                </div>                          
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user-secret"></i> </span>
                         </div>
                         <select name="country" [(ngModel)]="country" class="form-control">                 
                            <option value="SINGAPORE" selected="selected">SINGAPORE</option>
                            <option value="HONKONG">HONKONG</option>                        
                          </select>
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user-secret"></i> </span>
                         </div>
                         <select name="currency" [(ngModel)]="currency" class="form-control">                 
                            <option value="USD" selected="selected">USD</option>
                            <option value="SGD">SGD</option>                        
                          </select>
                    </div> 
                </div>
            </div>     
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user-secret"></i> </span>
                         </div>
                         <select name="revenuePotential" [(ngModel)]="revenuePotential" class="form-control">                 
                            <option value="1" selected="selected">*</option>
                            <option value="2">**</option>                        
                            <option value="3">***</option>                        
                            <option value="4">****</option>                        
                            <option value="5">*****</option>                        
                          </select>
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user-secret"></i> </span>
                         </div>
                         <select name="serviceInterested" [(ngModel)]="serviceInterested" class="form-control">                 
                            <option value="FOREX" selected="selected">FOREX</option>
                            <option value="STOCK">STOCK</option>                        
                          </select>
                    </div> 
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-sticky-note"></i> </span>
                         </div>
                         <textarea class="form-control"  name="description" [(ngModel)]="description"  placeholder="Description(Optional)"  rows="2"></textarea>
                    </div> 
                </div>          
            </div>           
          </form>
    
        </div>         
      </div>    
    </div>
    