<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item"><a>Leads</a></li>
      <li class="breadcrumb-item active" aria-current="page">View and Edit Leads</li>
    </ol>
  </nav>
  <div class="row" style="width:80%">
    <table id="crmdatatable" class="table table-striped table-bordered" >       
      <thead>
        <tr>
          <th>C_ID</th>
          <th>Source</th>
          <th>Description</th>
          <th>Rating</th>
          <th>Status</th>
          <th>Note</th>
          <th>User</th>
          <th>Created On</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lead of allLeads">
          <td>{{lead.customerUid}}</td>
          <td>{{lead.leadSource}}</td>
          <td>{{lead.description}}</td>
          <td>{{lead.rating}}</td>
          <td>{{lead.status}}</td>
          <td>{{lead.note}}</td>
          <td>{{lead.createdBy}}</td>
          <td>{{lead.createdDate}}</td>
          <td><button type="button" class="btn btn-sm btn-success">Assign</button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
            <th>C_ID</th>
            <th>Source</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Status</th>
            <th>Note</th>
            <th>Created By</th>
            <th>Created On</th>
            <th>Action</th>
        </tr>
      </tfoot>
    </table>
  </div>


</div>
